body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.job-list{
  margin: 1%;
}


/* Navbar styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar li {
  margin-right: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar a:hover {
  text-decoration: underline;
}


/* Styles for the job listing cards */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 20px;
}
  
.card {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /*width: 300px;*/
  margin: 20px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  /* color: #666; */
}

.card .company {
  font-weight: bold;
  margin-bottom: 10px;
}

.card .location {
  font-style: italic;
  margin-bottom: 10px;
}

.card .posted {
  font-size: 12px;
  color: #888;
}

.card:hover{
  background-color: rgb(62,62,62);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}


/* JobForm */

.job-form {
  max-width: 400px;
  margin: 0 auto;
}

.job-form label {
  display: block;
  margin-bottom: 10px;
}

.job-form input[type="text"],
.job-form input[type="date"],
.job-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.job-form textarea {
  height: 100px; /* Adjust height as needed */
}

.job-form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.job-form button:hover {
  background-color: #0056b3;
}
